.site-header {
	--pad: 30px;
	position: relative;
	min-height: 50vh;
	display: flex;
	align-items: stretch;
	overflow: hidden;
}

.site-header__bg {
	position: absolute;
	inset: 0;
	background-size: cover;
	background-position: center 30%;
	background-repeat: no-repeat;
}

.header-content {
	padding: var(--pad);
	margin: 0;
	display: flex;
	flex-direction: column;
	gap: 18px;
	max-width: 45%;
	z-index: 1;
}

.top-header {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 18px;
}

.site-logo {
	display: block;
	width: auto;
	height: auto;
	max-height: clamp(50px, 8vw, 100px);
	flex-shrink: 0;
}

.topline {
	flex: 0 0 auto;
	min-width: 0;
	text-align: center;
	z-index: 3;
}

.header-title {
	margin: 0;
	font-size: clamp(1.3rem, 2.5vw, 2.2rem);
	line-height: clamp(2.2rem, 5vw, 3.5rem);
	text-transform: none;
}

.header-panel {
	background: rgba(20, 18, 15, 0.75);
	border-radius: 18px;
	padding: 30px 30px 2px;
	box-shadow: 0 10px 28px rgba(0, 0, 0, 0.4);
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
}

.header-text {
	font-size: 1.1rem;
	font-weight: 400;
	line-height: 1.8rem;
}

.ribbon {
	--r: 1.8em;
	display: inline-block;
	width: fit-content;
	padding-inline: calc(var(--r) + 0.9em);
	line-height: clamp(1.5, 4vw, );
	clip-path: polygon(
		0 0,
		100% 0,
		calc(100% - var(--r)) 50%,
		100% 100%,
		0 100%,
		var(--r) 50%
	);
	background: #14120f;
}
@media (max-width: 1100px) {
	.site-header {
		--pad: 18px;
		min-height: auto;
	}

	.site-header__bg {
		background-position: center;
	}

	.header-content {
		max-width: 100%;
		padding: var(--pad);
		width: 100%;
		align-items: center;
	}

	.top-header {
		gap: 12px;
	}

	.site-logo {
		max-height: 45px;
	}

	.header-title {
		font-size: clamp(1.3rem, 4vw, 2.2rem);
		line-height: 1.15;
	}

	.ribbon {
		--r: 1.8em;
		font-size: inherit;
		line-height: 1.4;
		padding-inline: calc(var(--r) + 0.7em);
	}

	.header-panel {
		width: 100%;
		margin: 0;
		padding: 36px;
		border-radius: 16px;
	}

	.header-panel h2 {
		font-size: clamp(1.2rem, 3vw, 2rem);
		line-height: 1.15;
	}

	.header-text {
		font-size: clamp(1rem, 2.5vw, 1.2rem);
		line-height: 1.7;
	}
}
